<!DOCTYPE html>
<html ng-app lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome to ArtBay!</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
        /* Remove the navbar's default margin-bottom and rounded borders */
        .navbar {
            margin-bottom: 0;
            border-radius: 0;
        }
        .row.content {height: 800px}
        .center {
            width: 15%;
            margin: 0 auto;
        }
        /*Set black background color, white text and some padding */
        footer {
            background-color: #555;
            color: white;
            padding: 15px;
        }
    </style>

</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="http://localhost:5000/index">ArtBay</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="http://localhost:5000/index">Home</a></li>
            <li class="active">
                <form class="navbar-form" role="search" action="/search" method='get'>
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search" name="srch-term" id="srch-term">
                        <div class="input-group-btn">
                            <select class="form-control" id="sel1">
                                <option>Painting</option>
                                <option>Drawing</option>
                                <option>Sculpture</option>
                                <option>Misc</option>
                            </select>
                            <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                        </div>
                    </div>
                </form>
            </li>
            <li><a href="http://localhost:5000/create_listing">Sell a masterpiece!</a></li>
            <li><a href="http://localhost:5000/search">Auction House</a></li>
            <li><a href="#"></a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="http://localhost:5000/user/{{session.userinfo.uid}}"><span class="glyphicon glyphicon-user"></span> Welcome {{session.userinfo.username}}!</a></li>
            <li><a href="http://localhost:5000/"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
        </ul>
    </div>
</nav>

<div class="container-fluid">
    <div class="row content" ng-app="" ng-init="myImage='http://i.imgur.com/ZuE8EYG.jpg'">
        <div class="col-sm-4" style="background-color:black;">
            <p>  </p><br><p>  </p><br>
            <a>
                <img src="{{'{{myImage}}'}}" style="float:left;max-width:410px;max-height:400px;" alt="HTML5 Icon"></a>
                <br><br>
        </div>
        <div class="col-sm-8">
            <p>  </p><br><p>  </p><br>
            <form action="http://localhost:5000/newItem" method='POST'>
                <div class="form-group">
                    <label for="itemImage">Image URL:</label>
                    <input type="text" class="form-control" ng-model="myImage" id="itemImage" value="{{'{{myImage}}'}}" name="imageurl">
                </div>
                <div class="form-group">
                    <label for="itemTitle">Title:</label>
                    <input type="text" class="form-control" id="itemTitle" name="itemname">
                </div>
                <div class="form-group">
                  <label for="itemType">Type:</label>
                   <select class="form-control" id="itemType" name="itemtype">
                       <option>Painting</option>
                       <option>Sculpture</option>
                       <option>Metalwork</option>
                       <option>Misc.</option>
                   </select>
                </div>
                <div class="form-group">
                  <label for="itemPrice">Initial price:</label>
                    <input type="text" class="form-control" id="itemPrice" name="price">
                </div>
                <div class="form-group">
                    <label for="itemColor">Color:</label>
                    <div ng-app="" ng-init="myCol='White'">
                        <input style="background-color:{{'{{myCol}}'}}" ng-model="myCol" id="itemColor" value="{{'{{myCol}}'}}" name='itemcolor'>
                    </div>
                </div>
                <div class="form-group">
                    <label>Feature this item?</label>
                    <div class="radio">
                        <label><input type="radio" name="featuredRadio" value="t">Feature this item</label>
                    </div>
                    <div class="radio">
                        <label><input type="radio" name="featuredRadio" value="">No, thanks.</label>
                    </div>
                </div>
                <div class="form-group">
                    <label>Listing method:</label>
                    <div class="radio">
                        <label><input type="radio" name="auctionRadio" value="t">Auction</label>
                    </div>
                    <div class="radio">
                        <label><input type="radio" name="auctionRadio" value="">For Sale</label>
                    </div>
                </div>
                <div class="form-group">
                  <label>Deadline (DD/MM/YY):</label>
                    <input type="text" class="form-control" name="deadline">
                </div>
                <div class="form-group">
                    <label for="itemTitle">Description:</label>
                    <textarea class="form-control" rows="5" id="itemDescription" name="desc"></textarea>
                </div>
                <div class="form-group center">
                    <input type="submit" value="Submit Art Piece!">
                </div>
            </form>
        </div>
    </div>
</div>

<footer class="container-fluid text-center">
    <p>ICOM5007 Project Fall 2016 Carlos Stephen Jose copyright</p>
</footer>

</body>
</html>
