<!DOCTYPE html>
<html lang="en">
<head>
    <title>Commissions list</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
        /* Remove the navbar's default margin-bottom and rounded borders */
        .navbar {
            margin-bottom: 0;
            border-radius: 0;
        }
        /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
        .row.content {height: 800px}
        .sidenav {
            background-color: #f1f1f1;
            height: 100%;
        }
        /* Set black background color, white text and some padding */
        footer {
            background-color: #555;
            color: white;
            padding: 15px;
        }
    </style>
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="http://localhost:5000/index">ArtBay</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="http://localhost:5000/index">Home</a></li>
            <li class="active">
                <form class="navbar-form" role="search" action="/search" method='get'>
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search" name="srch-term" id="srch-term">
                        <div class="input-group-btn">
                            <select class="form-control" id="sel1">
                                <option>Painting</option>
                                <option>Drawing</option>
                                <option>Sculpture</option>
                                <option>Misc</option>
                            </select>
                            <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                        </div>
                    </div>
                </form>
            </li>
            <li><a href="http://localhost:5000/create_listing">Sell a masterpiece!</a></li>
            <li><a href="http://localhost:5000/search">Auction House</a></li>
            <li><a href="#"></a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="http://localhost:5000/user/{{session.userinfo.uid}}"><span class="glyphicon glyphicon-user"></span> Welcome {{session.userinfo.username}}!</a></li>
            <li><a href="http://localhost:5000/"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
        </ul>
    </div>
</nav>

<form action = "http://localhost:5000/index" method = 'GET'>
<div class="container-fluid">
        <div class="col-sm-8">
            <p>  </p><br><p>  </p><br>

    <form action = "#">
      <h3>Commissions List:</h3>
      <p>Petitioner username: Stephen</p>
      <p>Price to pay: $200 </p>
      <p>DeadLine: December 20th, 2016.</p>
      <p>Type: acrylic painting</p>
     <p>Description: I wish an acrylic painting of the new SpiderMan from Captain America civil war movie.</p> 
          
          <div class="form group">
              <input type="submit" value="Accept request">
          </div>
    
      
      <p>Petitioner username: Carlos</p>
      <p>Price to pay: $250 </p>
      <p>DeadLine: December 30th, 2016.</p>
      <p>Type: oil painting</p>
     <p>Description: I wish an oil painting of a dodo.</p> 
          
          <div class="form group">
              <input type="submit" value="Accept request">
          </div>
      
       <p>Petitioner username: José</p>
      <p>Price to pay: $300 </p>
      <p>DeadLine: January 5th, 2017.</p>
      <p>Type: wood sculpture</p>
     <p>Description: I a sculpture of a dinosaur.</p> 
          
          <div class="form group">
              <input type="submit" value="Accept request">
          </div>
      
       <p>Petitioner username: Stephen</p>
      <p>Price to pay: $350 </p>
      <p>DeadLine: January 21th, 2017.</p>
      <p>Type: drawing</p>
     <p>Description: I want a drawing of an acoustic piano.</p> 
          
          <div class="form group">
              <input type="submit" value="Accept request">
          </div>
      
    </div>
    </form>
</div>

<!--div class="container-fluid">
    <div class="row content">
      <div class="col-sm-12 sidenav">
          <p>  </p><br><p>  </p><br>
      
      <h3>Commissions List:</h3>
      <p style="color:red;">I wish an acrylic painting of the new Spider-man.</p>
      <p>I want it finished, if possible, by December 20th, 2016.</p>
      <p>height: 48 inches</p>
     <p>width: 60 inches</p> 
      <p>depth: 3 inches</p>
          <div style="height:200px;">
              <form action="#">
                  <div class="form group">
                      <input type="submit" value="Accept request">
                  </div>
              </form>
       </div>
      </div>
    </div>
</div-->

<footer class="container-fluid text-center">
    <p>ICOM5007 Project Fall 2016 Carlos Stephen Jose copyright</p>
</footer>
</body>
</html>